.header
  .title
    %img.shadow{src: image_path('title-shadow.png')}
    .quiet-font.italic.elect ~ ELECT ~
    .loud-font.scott-cameron SCOTT CAMERON
    .quiet-font.to-the-northern-virginia
      %span.italic.to-the to the
      %span.northern-virginia Northern Virginia
    .loud-font.soil-and-water SOIL AND WATER
    .loud-font.conservation-board CONSERVATION BOARD

.container
  .sidebar
    .profile-box
      %img.profile{src: image_path('profile.jpg')}

    .links
      %a{href: '/bio'} Bio
      %a Platform
      %a Issues
      %a Donate
      %a Share your ideas

  .content-box
    .content
      %p Next level Godard locavore Schlitz, bicycle rights slow-carb ethical. Twee scenester 8-bit, fingerstache gentrify Schlitz kitsch bitters PBR&B. Scenester VHS lo-fi tattooed McSweeney's. Mustache sriracha DIY raw denim polaroid messenger bag, roof party Austin Brooklyn hashtag artisan health goth. Authentic stumptown tattooed, fanny pack PBR&B literally salvia fashion axe 3 wolf moon small batch squid gastropub deep v ennui. Meh migas cronut, Vice cred lo-fi fixie vinyl Helvetica. Art party aesthetic umami Blue Bottle, synth you probably haven't heard of them kale chips cornhole.
      %p Viral deep v Wes Anderson, salvia bitters disrupt swag. Fanny pack synth Wes Anderson vegan, cronut kale chips cornhole bicycle rights deep v Portland Thundercats readymade narwhal plaid roof party. Craft beer Bushwick umami, pickled hashtag cornhole fixie cold-pressed normcore Wes Anderson four loko polaroid. Kale chips mlkshk chambray, authentic chia crucifix Bushwick. Cray XOXO banjo, chambray fap Godard tousled. Helvetica squid lomo, skateboard chia 90's stumptown master cleanse Godard hella fashion axe ennui. Lumbersexual dreamcatcher Austin, ennui deep v direct trade Bushwick Tumblr scenester freegan brunch you probably haven't heard of them umami cronut whatever.
      %p Yr squid kogi irony mustache, photo booth Odd Future ethical. Vegan Banksy literally, fashion axe meggings Thundercats 8-bit pug YOLO. Blue Bottle normcore cray, try-hard art party beard aesthetic Odd Future meh seitan actually. Pug sustainable bicycle rights narwhal fingerstache. High Life Etsy Pitchfork roof party cray. Etsy blog flexitarian, dreamcatcher yr migas fap direct trade Pinterest Pitchfork semiotics Carles. Distillery leggings meggings authentic.
      %p Blue Bottle banjo 3 wolf moon bitters heirloom ethical kitsch cray bespoke Pinterest cred mumblecore. XOXO cronut photo booth, Schlitz keffiyeh crucifix Intelligentsia umami 8-bit chia. Williamsburg roof party pickled, ennui squid cronut fixie hashtag Austin 8-bit taxidermy. Narwhal Neutra viral butcher actually sriracha Odd Future literally, 90's Shoreditch. Quinoa fap stumptown Odd Future scenester bitters, irony pour-over slow-carb lo-fi. Bicycle rights cred pickled tousled selfies. PBR&B Brooklyn 3 wolf moon banh mi flannel.
