.header
  %img.shadow{src: image_path('title-shadow.png')}
  .title
    .quiet-font.italic.elect ~ ELECT ~
    .loud-font.scott-cameron SCOTT CAMERON
    .quiet-font.to-the-northern-virginia
      %span.italic.to-the to the
      %span.northern-virginia Northern Virginia
    .loud-font.soil-and-water SOIL AND WATER
    .loud-font.conservation-board CONSERVATION BOARD

.container
  .sidebar
    .profile-box
      %img.profile{src: image_path('profile.jpg')}

    .links
      .link
        %a{href: '/bio'} Bio
      .link
        %a Platform
      .link
        %a Issues
      .link
        %a Donate
      .link
        %a Share your ideas

  .content-box
    .content
      %h3 Candidate for the Northern Virginia Soil and Water Conservation Board
      %h3 Vote for Scott for a Cleaner Environment, Healthier Community

      %h4 Proven Leader and Conservationist    
      %ul 
        %li Thirty-six years working in environmental policy
        %li Twenty years of federal service in natural resources programs at the Department of the Interior, 

      %h4 Office of Management and Budget, Congress, US Fish and Wildlife Service
      %ul
        %li Currently Associate Director, Northern Virginia Soil and Water Conservation District
        %li President, Reduce Risks from Invasive Species Coalition, a charitable organization
        %li Eight years of management consulting  helping  environmental agencies become more effective
        %li Director of government relations for a company in the pollution prevention business
        %li Environmental policy advisor, Governor of California
        %li Director of Conservation Policy, National Fish and Wildlife Foundation
        %li Board of Advisors, Wildlife Alliance
        %li Elected Fellow of the National Academy of Public Administration
        %li Biologist with a Masters in Business Administration

      %h4 Active in the Community
      %ul
        %li Environment Chair, Riverside Estates Civic Association
        %li Environment Committee, Mount Vernon Council of Civic Associations, Environment Committee
        %li National Conservation and Environment Committee, Boy Scouts of America
        %li Assistant Scoutmaster, Boy Scout Troop 1509
        %li Friends of Dyke Marsh
        %li Saint Luke’s Church
        %li Kiwanis Club of Mount Vernon
        %li Northern Virginian since 1979

      %h4
      %ul
        %li Fairfax County Resident since 1994
        %li Married to Holly, wife of 28 years
        %li Son, Carson, entering the College of William and Mary as a freshman in 2015
