.header
  .title
    .quiet-font.italic.elect ~ Elect ~
    .loud-font.scott-cameron SCOTT CAMERON
    .quiet-font
      %span.italic.to-the to the
      %span.northern-virginia Northern Virginia
    .loud-font.soil-and-water SOIL AND WATER
    .loud-font.conservation-board CONSERVATION BOARD
  
  .profile-box
    .profile

