#issues
  %h2 Policy Positions


  %ul
    %li 
      %a{href: '#issue-1'} Candidate Scott Cameron Supports Spring Bank Community’s Effort to Protect Woodland
    %li 
      %a{href: '#issue-2'} Rescue Reston
    %li 
      %a{href: '#issue-3'} Maximizing Fairfax Environmental Benefits from Your Taxes
    %li 
      %a{href: '#issue-4'} Keeping Fairfax’s Environmental Dollars in Fairfax
    %li 
      %a{href: '#issue-5'} Invasive Species in Fairfax County

  - @issues.each_with_index do |issue, i|
    .issue{id: "issue-#{i + 1}"}
      != issue
