%h2 Why I Am Running
%ul
  %li Having lived in Northern Virginia for 36 years, I want to give back to the community that has been my family’s home
  %li I have knowledge and skills acquired through 36 years of experience in conservation and management that will benefit  the people of Fairfax County
 
%h2 What I Will Do If I Win
%h3 Promote  “Cleaner Environment, Healthier Communities” by:
%ul
  %li
    Protecting our Environment
    %ul
      %li Protect our county’s streams, lakes,  and watersheds
      %li Protect our county’s forests and fields from invasive species
      %li Do Fairfax’s part to help clean up the Chesapeake Bay
  %li Enhancing our property values by protecting the natural features of our neighborhoods that drew us to Fairfax in the first place
  %li 
    Spending taxpayer money wisely to benefit Fairfax County
    %ul
      %li Team effectively with other county, state, and federal conservation agencies
      %li Make Virginia conservation programs work  for our suburban county
      %li Put our taxpayer dollars where the problems are, targeting the greatest environmental risks inside Fairfax
      %li Keep Fairfax conservation dollars inside Fairfax
  %li Clearly communicating the tangible environmental and economic benefits voters can expect and get from Soil and Water Conservation Board programs
