#scorecard
  %h2 Scott Cameron's Voter Progress Report, August 2016
  %h3 Progress on Issues Championed During My Campaign for Director of the Northern Virginia Soil and Water Conservation District (NVSWCD)

  %table
    %tr
      %th Issue
      %th Magisterial District
      %th Status
      %th Next Action
    %tr
      %td
        %a{href: '/issues#issue-1'} Close the Lorton Landfill once its existing permit expires.
      %td Mount Vernon
      %td On January 12, 2016, I urged the Fairfax County Environmental Quality Advisory Committee to oppose extending the operating permit of the landfill.
      %td The landfill is scheduled to close in December 2018.

    %tr
      %td
        %a{href: '/issues#issue-2'} Support Rescue Reston's efforts to protect the Reston National Golf Course from being turned into a housing development.
      %td Hunter Mill
      %td Rescue Reston won its challenge to the developer at Fairfax Circuit Court on December 4, 2015.
      %td The developer declined to appeal to the Virginia State Supreme Court, which means Rescue Reston is victorious, at least for the foreseeable future.

    %tr
      %td
        %a{href: '/issues#issue-3'} Save the trees of Dead Run in McLean Central Park that are at risk of being cut down from a County project.
      %td Dranesville
      %td Fairfax County is working with a citizens' group to revise its stream restoration plan so fewer trees are killed in the process of re-working the floodplain.
      %td A revised County plan is in process, and expected to be unveiled this Fall. NVSWCD staff are assisting the County to improve its approach. I continue to monitor the situation.

    %tr
      %td
        %a{href: '/issues#issue-4'} Focus our limited environmental funds where the environmental problems are most important, to get the best results with available funds.
      %td County-wide
      %td The revised NVSWCD strategic plan http://www.fairfaxcounty.gov/nvswcd/nvswcd-strategic-plan-fy2016-fy2020.pdf, approved June 2016, calls for the NVSWCD to focus on priority watersheds.
      %td I am working to identify priority watersheds, based on the new strategic plan.

    %tr
      %td
        %a{href: '/issues#issue-4'} Identify targeted outcomes from NVSWCD projects and then report to voters on results actually achieved.
      %td County-wide
      %td I was actively involved in the NVSWCD strategic planning process and successfully pushed for meaningful outcomes and performance metrics.
      %td I am working to develop ambitious annual and longterm targets for those performance measures.

    %tr
      %td
        %a{href: '/issues#issue-4'} Promote interagency coordination and cost-sharing.
      %td County-wide
      %td On February 8, 2016 I was elected Treasurer of the NVSWCD, which allows me to better coordinate with Fairfax County agencies and those of neighboring jurisdictions.
      %td I have requested a meeting with the County Department of Public Works and Environmental Services to discuss how our two agencies might more effectively coordinate projects and priorities to maximize environmental benefits for taxpayer dollars.

    %tr
      %td
        %a{href: '/issues#issue-5'} Keep Fairfax environmental grant dollars in Fairfax by modifying the Virginia Department of Conservation & Recreation's (DCR) overly restrictive grant criteria.
      %td County-wide
      %td I explained the situation to Delegate Ken Plum (D-Reston) on January 14.  On February 24 he wrote DCR requesting the flexibility we need.
      %td The new Conservation Assistance Program http://www.fairfaxcounty.gov/nvswcd/cap/ gives us the ability to better meet more of the environmental needs of our suburban communities.

    %tr
      %td
        %a{href: '/issues#issue-6'} Transfer the Spring Back woodland into the Fairfax County park system.
      %td Mount Vernon
      %td On January 12, 2016, I urged the Fairfax County Environmental Quality Advisory Committee to support the land transfer.
      %td Fairfax County is in the process of restoring the stream channel that goes through the property, which I expect will set the stage for the land transfer to the Park Authority.

    %tr
      %td
        %a{href: '/issues#issue-7'} Focus greater Fairfax County attention on invasive species control.
      %td County-wide
      %td Invasive species were explicitly included, for the first time, in the revised NVSWCD strategic plan.
      %td I am working on strategies to focus more attention on invasive species at the County, state, and federal levels.

    %tr
      %td
        %a{href: '/issues#issue-8'} Create transparent criteria for selecting county stormwater management projects.
      %td County-wide
      %td On March 21, I requested a meeting with the Department to discuss priority setting and enhanced cooperation with the NVSWCD.
      %td We are working to schedule the meeting, and with a new improved NVSWCD strategic plan, our discussions will be more fruitful.
