%h2 Scott Cameron’s Vision for Fairfax County
%h3 Cleaner Environment, Healthier Community
%p Let’s work together to create and maintain an environmentally sustainable and economically prosperous place to raise our families.
%p Let’s protect the quality of our neighborhoods to ensure that Fairfax County will always be a place where our children and grandchildren will enjoy living.
%p Let’s do our share to protect the water quality of our streams, lakes, rivers and the Chesapeake Bay, and conserve our  fish and wildlife resources.
